* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

.darkerblue {
  color: #1281ff;
}

.lighterblue {
  color: #53a3ff;
}

.logo {
  width: 100px;
  height: 100px;
  padding-left: 50px;
  padding-top: 30px;
}

.header-text {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.search {
  width: 80vmin;
  border-radius: 5px;
  margin: 50px auto 0;
  background-color: #F4F4F4;
}

.row {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 4px 4px 0 0;
}

.search-bar {
  flex: 1;
  height: 45px;
  background: transparent;
  background-image: url("../resources/search-image.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 25px;
  font-size: 1.5rem;
  font-family: Helvetica, Arial, sans-serif;
  border: 0;
  outline: 0;
  padding-left: 4px;
}

.search-part {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 80vmin;
}

.search-part > p {
  margin-right: auto;
  font-size: 0.9rem;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 2px;
  display: flex;
  justify-content: center;
}

.result-box {
  max-height: 300px;
  width: 80vmin;
  overflow-y: scroll;
  position: absolute;
  z-index: 2;
  background-color: #fff;
}
.result-box ul li {
  list-style: none;
  padding: 12px 10px;
  cursor: pointer;
  font-size: 1.5rem;
}
.result-box ul {
  border-top: 1px solid #E4E4E4;
}
.result-box li:hover {
  background: #e9f3ff;
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 35px;
  justify-content: center;
}

.wrapper:nth-child(1) {
  padding-top: 10px;
}

.collapsible {
  width: 80vmin;
  overflow: hidden;
  font-weight: 500;
}
.collapsible label {
  position: relative;
  font-weight: 400;
  font-size: 1.5rem;
  background: #F4F4F4;
  display: block;
  margin-bottom: 10px;
  padding: 15px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 1;
}
.collapsible label > p {
  position: absolute;
  right: 50px;
  top: 15px;
}
.collapsible label img {
  content: "";
  position: absolute;
  right: 15px;
  top: 21px;
  width: 18px;
  height: 18px;
  background: url("../resources/arrow.png") no-repeat 0 0;
}
.collapsible input:checked + label img {
  transform: rotate(90deg);
  transition: all 0.1s ease;
}
.collapsible input:not(:checked) + label img {
  transition: all 0.1s ease;
}
.collapsible input:checked ~ .collapsible-text {
  max-height: 400px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #E4E4E4;
  opacity: 1;
  top: 0;
}
.collapsible input:not(:checked) ~ .collapsible-text {
  border: 1px solid #E4E4E4;
  opacity: 0;
  display: none;
}

.collapsible-text {
  border-radius: 4px;
  line-height: 1.4;
}
.collapsible-text .weight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}
.collapsible-text .weight p {
  font-size: 1rem;
  margin-right: 10px;
}
.collapsible-text h3 {
  font-size: 1.5rem;
  padding: 10px 10px;
  flex: 2;
  color: #1281ff;
}
.collapsible-text .amount {
  padding: 5px;
  text-align: center;
  margin-right: 0;
  height: 35px;
  width: 70px;
  border: 1px solid #E4E4E4;
  border-radius: 4px;
  font-size: 1.4rem;
}
.collapsible-text .cost {
  font-size: 1rem;
  padding-left: 5px;
  width: 100%;
  border: 1px solid #E4E4E4;
  border-radius: 4px;
}
.collapsible-text .nutrition {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px;
  padding: 10px;
  padding-bottom: 0;
}
.collapsible-text .nutrition p {
  font-size: 0.9rem;
  margin: 0;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 4px;
  text-align: left;
}
.collapsible-text .nutrition strong {
  display: block;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.close {
  height: 20px;
  width: 20px;
  padding-bottom: 2px;
  margin-top: 20px;
  margin-left: 15px;
  opacity: 0;
  transition: opacity 0.5s;
  border: none;
  border-radius: 15px;
  color: #828282;
}

.close:hover {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  color: #5c5c5c;
}

.close.visible {
  opacity: 1;
}

.total {
  margin-right: 17px;
  padding-top: 20px;
}
.total label {
  background-color: #c6c6c6;
  position: relative;
  font-weight: 400;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 10px;
  padding: 15px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 1;
}
.total #total-head {
  display: none;
}

body {
  --bg: #fefff4;
  margin: 0;
  min-height: 150vh;
  background: var(--bg);
  transition: background 400ms ease;
}
body.darkmode {
  --bg: #252525;
}

svg {
  position: absolute;
  width: 8vmin;
  height: 8vmin;
  right: 20px;
  top: 10px;
}

/** light mode */
.darkmode-icon .moon-shadow {
  transition: cx 400ms ease;
}
.darkmode-icon .rays {
  transition: stroke-dashoffset 400ms ease;
  stroke-dashoffset: 20;
  stroke-dasharray: 12;
}
.darkmode-icon .sun {
  fill: #FEFFF6;
}
.darkmode-icon .moon-shadow {
  fill: #252525;
}
.darkmode-icon .rays, .darkmode-icon .sun-stroke {
  stroke: #828282;
  fill: none;
}

/** dark mode */
.darkmode-checkbox:checked ~ label {
  cursor: pointer;
}
.darkmode-checkbox:checked ~ label .darkmode-icon .moon-shadow {
  cx: 40;
}
.darkmode-checkbox:checked ~ label .darkmode-icon .rays {
  stroke-dashoffset: 12;
  stroke-dasharray: 12;
}

.darkmode-checkbox {
  display: none;
}

.download {
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 12vmin;
  height: 3vmin;
  min-height: 25px;
  min-width: 75px;
  border-radius: 4px;
  border: none;
  padding: 5px;
  font-size: 0.9rem;
  color: #1281ff;
  background-color: #F4F4F4;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.download:active {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 801px) {
  .close {
    opacity: 1;
    position: relative;
    right: 10px;
    margin-top: 18px;
    height: 15px;
    width: 15px;
    font-size: 0.7rem;
  }
  .search-bar {
    flex: 1;
    height: 45px;
    background: transparent;
    background-image: url("../resources/search-image.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
    font-size: 1.2rem;
    font-family: Helvetica, Arial, sans-serif;
    border: 0;
    outline: 0;
    padding-left: 4px;
  }
  h1 {
    font-size: 2rem;
  }
  .search-part > p {
    font-size: 0.8rem;
  }
  .download {
    font-size: 0.8rem;
  }
  .collapsible label {
    font-size: 1rem;
  }
  .collapsible label > p {
    position: absolute;
    right: 50px;
    top: 15px;
  }
  .collapsible label img {
    content: "";
    position: absolute;
    right: 15px;
    top: 18px;
    width: 14px;
    height: 14px;
    background: url("../resources/arrow.png") no-repeat 0 0;
  }
  .collapsible .collapsible-text .weight p {
    font-size: 0.9rem;
    margin-right: 10px;
  }
  .collapsible .collapsible-text h3 {
    font-size: 1.2rem;
  }
  .collapsible .collapsible-text .nutrition {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    gap: 8px;
    padding: 8px;
    padding-bottom: 0;
  }
  .collapsible .collapsible-text .nutrition p {
    font-size: 0.9rem;
    margin: 0;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 4px;
    text-align: left;
  }
  .collapsible .collapsible-text .nutrition strong {
    display: block;
  }
}/*# sourceMappingURL=styles.css.map */